{% extends "network/layout.html" %}
{% block title %}Social Network: Following{% endblock %}
{% block body %}

{% include 'network/showposts.html' %}



{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example" class="container-sm d-flex justify-content-center">
    <ul class="pagination">

        {% if page_obj.number > 2 %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">First</a>
        </li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>

        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link active" href='?page={{ page_obj.number }}'>
                {{ page_obj.number }}</a></li>


        {% if page_obj.has_next %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% if page_obj.next_page_number == page_obj.paginator.num_pages %} <li class="page-item"><a
                class="disabled page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
            </a></li>
        {% else %}
        <li class="page-item"><a class=" page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
            </a></li>

        {% endif %}
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">Last</a>
        </li>
        {% endif %}


    </ul>
</nav>
{% endif %}


{% endblock %}