{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    {% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'network/styles.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container-fluid d-flex flex-column w-100">
            <div class="d-flex">

                <a class="navbar-brand" href="/">
                    <h1>Social Network</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse w-100" id="navbarsExample04">
                <ul class="navbar-nav  mb-2 mb-md-0 d-flex justify-content-evenly w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">📝 All Posts</a>

                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link " aria-current="profile" href="{% url 'following_posts' %}">❣
                            Following</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link " aria-current="profile" href="{% url 'profile' username=user.username %}">
                            👤 {{ user.username }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">🔒 Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">🔑 Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">🔐 Register</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>

    <div class="body">
        {% include 'network/flash_messeges.html' %}

        {% block body %}
        {% endblock %}
    </div>
    <script type="text/babel"></script>

</body>

</html>